[submodule "vendored/SDL"]
	path = vendored/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendored/blend2d"]
	path = vendored/blend2d
	url = https://github.com/blend2d/blend2d.git
[submodule "vendored/asmjit"]
	path = vendored/asmjit
	url = https://github.com/asmjit/asmjit.git
